@font-face
  font-family Sofia
  font-style normal
  src url(font/SofiaProLight.otf)

@font-face
  font-family Museo
  font-style normal
  src url(font/museo-sans-rounded__500.woff2)

body, html
  font-family Museo
  padding: 0
  margin: 0
  background-color: #F1F1E9
.title
  font-size: 40px
  color: #212121

.subtitle
  font-size: 30px
  color: #c1c1c1
  margin-top: 50px

.no-margin
  margin: 0px

.no-padding
  padding: 0px

.col
  height: 60px
  display: table
  width: 100%

.text-left
  text-align: left

.text-right
  text-align: right

.separator
  width: 1px
  height: 100%
  background-color: #f1f1e9

.spinner-path
  stroke-dasharray: 1000
  stroke-dashoffset: 1000
  animation: dash 2.5s linear alternate infinite


@keyframes dash
  0% {
    stroke-dashoffset: 1000;
    fill: #f1f1e9;
  }

  5% {
    stroke-dashoffset: 1000;
    fill: #f1f1e9;
  }

  90% {
    stroke-dashoffset: 500;
    fill: #EA5E4C;
  }

  100% {
    stroke-dashoffset: 500;
    fill: #EA5E4C;
  }


@require "variables"
