wait = 100
breakpointM = 500
breakpointT = 956
breakpointD = 1280

fontSM = 10
fontMD = 14
fontLG = 18
fontXL = 20
fontXXL = 36

navbarHeight = 56

cWhite = #fff
cPrimary = #EB5C4A
cText = #606b70
cTitle = #4b555a
cBackground = #F1F1E9


